<div class="container">
<h3>Picture</h3>
<%# <%= cl_image_tag("jiicckaioe9ndlacudr5", width: 400, height: 300, crop: :fill) %> %>

      <%= cl_image_tag "jiicckaioe9ndlacudr5", height: 300, width: 400, crop: :fill %>
<ul>
  <% @lists.each do |list| %>
    <li><%=list.name%></li>
  <% end %>
</ul>
<%= link_to "Create", lists_new_path%>
</div>
