<div class="container">
<h3>Picture</h3>
<%= cl_image_tag("https://res.cloudinary.com/du5das2c1/image/upload/v1668772906/jiicckaioe9ndlacudr5.jpg", width: 400, height: 300, crop: :fill) %>
<ul>
  <% @lists.each do |list| %>
    <li><%=list.name%></li>
  <% end %>
</ul>
<%= link_to "Create", lists_new_path%>
</div>
